.gamebox {
    margin-bottom: 5%;
    background-image: linear-gradient(white, white, rgb(66, 207, 73));
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(66, 207, 73) , white);
    border-image-slice: 1;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  border-width: 2px;
  width: 200px;
  text-align: center;
}

.gameimg {
    margin-top: 7.5%;
}

.gamename, .gameprice {
    font-weight: 600;
}

.gamedesc {
    font-size: 80%;
}

.gameimg, .gamename, .gamedesc {
    margin-bottom: 5%;
}

.gameprice {
    line-height: 40px;
    margin-top: -7%;
}

.gamebox:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}