/* --- Navbar --- */ 

/* If you want to edit color of nav bar
/* #navbarTogglerDemo02 > ul > li.nav-item.active > a {
    color: rgb(170, 170, 170);
}

#navbarTogglerDemo02 > ul > li:nth-child(2) > a {
    color: white;
} */


/* --- Splash Page --- */ 
#splash{
    background-color: #4E4E50;
    width: 60%;
    position: relative;
    left: 20%;
    top: 280px;
    padding: 5%;
    
}

#sph1{
    color: #C3073F;
    font-family: fantasy;
    text-align: center;
    font-size: 400%;
}

#spp{
    text-align: center;
    color: #1A1A1D
}


/* --- Other CSS --- */

#body1{
    background-color: #1A1A1D;

}

.homediv{
    background-color: #4E4E50;
    color: azure;
    font-family: cursive;
    width: 40%;
    text-align: center;
    position: relative;
    left: 40%;
    bottom: 300px;
    padding: 2%;
    margin-bottom: 1%;
    
}

#hometopic{
    background-image: url("../Images/target_background.jpg");
    background-repeat: no-repeat;
    color: #C3073F;
    width: 25%;
    height: 480px;
    position: relative;
    left: 5%;
    top: 100px;
    padding: 2%;
}

#topictext1{
    text-align: center;
    margin-top: 40%;
}

.maintopic{
    background-color: #4E4E50;
    color:azure;
    text-align: center;
    font-family: cursive;
    width: 30%;
    position: relative;
    margin-left: 30%;
    margin-right: 20%;
    top: 30px;
    padding: 2%;
}




/* --- Search Game Page --- */

.containerbox {
    position: absolute;
    right: 10%;
    width: 50%;
    height: auto;
    margin-bottom: 0%;
}

.gamelistbox {
    margin-top: 5%;
    width: 100%;
}

.img1 { /* --- Resizing all images on the page --- */
    width: 400px;
    height: 400px;
}

.gamenametext {
    text-align: center;
    font-size: 140%;
    font-weight: 700;
}

.searchcontainer {
    width: 100%;
    height: 220px;
    background-color: rgb(86, 93, 99);
    border-bottom: 5px;
    border-bottom-color: #C3073F;
}

.searchtitle {
    padding-top: 2%;
    color: white;
}

.searchbar {
    width: 30%;
    height: 45px;
    margin-top: 1%;
    margin-left: 35%;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.submitcss {
    border-radius: 5px;
    width: 15%;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 42.5%;
    outline: 0px;
}

.submitcss:focus {
    outline: none;
}

.buynow {
    font-weight: 800px;
}

.gameprice {
    margin-left: 37%;
    display: inline;
    text-align: center;
}

.buynow:link {
    text-align: center;
    text-decoration: underline;
  }

  .warning {
    border: 1px solid red;
  }




/* --- Twitch Card --- */

  .card-horizontal {
      margin-right: 15%;
    display: flex;
    flex: 1 1 200;
}

.cardwidth {
    margin-top: -20px;
    display: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 35%;
    transition: all .2s ease-in-out;
}

.cardwidth:hover {
    transform: scale(1.02); 
}

.twitchimg {
    width: 230px;
    height: 150px;
}





/* --- Footer--- */

.footer{
    width: 100%;
    height: 50px;
    background-color: #343A40;
    color: white;
    position: fixed;
    bottom: 0%;
    text-align: center;
    font-size: 18px;
    padding-top: .75%;

}




/* --- Game Box --- */
/* .gamebox {
    margin-bottom: 5%;
    background-image: linear-gradient(white, white, rgb(66, 207, 73));
    border-style: solid;
    border-image: linear-gradient(to bottom, rgb(66, 207, 73) , white);
    border-image-slice: 1;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
  border-width: 2px;
  width: 200px;
  text-align: center;
}

.gameimg {
    margin-top: 7.5%;
}

.gamename, .gameprice {
    font-weight: 600;
}

.gamedesc {
    font-size: 80%;
}

.gameimg, .gamename, .gamedesc {
    margin-bottom: 5%;
}

.gameprice {
    line-height: 40px;
    margin-top: -7%;
}

.gamebox:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
} */